/*===========================ОБНУЛЕННЯ==================================*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/*==========================================================================*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
/*-----------------------------------------------*/
body {
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif; 
}
._container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}
/*-----------------------------------------------*/
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #323232;   
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__body__right {
    display: flex;
    align-items: center;
    height: 100%;
}
.header__logo {
    position: relative;
    z-index: 2;
    margin-right: 30px;
}
.header-menu {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 100%;
}
.menu__item {
    height: 100%;
    border-left: 2px solid #4D4D4D;
}
.menu__item:last-child {
    border-right: 2px solid #4D4D4D;
}
.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EDEDED;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.header__body__left {
    height: 100%;
}
.header__contacts {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
}
.header__contacts__item {
    border-left: 2px solid #4D4D4D;
    height: 100%;
}
.header__contacts__item:last-child {
    border-right: 2px solid #4D4D4D;
}
.header__contacts__link {
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.header__burger {
    display: none;
}
@media (min-width: 767.98px) {
    .menu__link:hover {
        color: #C7AA8B;
        background-color: #000;
    }
    .header__contacts__link:hover {
        background-color: #000;
    }
}
@media (max-width: 767.98px) {
    body.lock {
        overflow: hidden;
    }
    .header__burger span {
        position: absolute;
        height: 2px;
        background-color: #fff;
        left: 0;
        width: 100%;
        top: 11px;
        transition: all 0.3s ease 0s;
    }
    .header__burger {
        display: block;
        position: absolute;
        right: 7px;
        top: 13px;
        width: 40px;
        height: 25px;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 11px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 12px;
    }
    .header__contacts__item {
        border-left: none;
        height: initial;
    }
    .header__contacts__link {
        padding: 0 15px;
        height: initial;
    }
    .header__contacts__link img {
        height: 20px;
    }
    .header__contacts__item:last-child {
        border-right: none;
    }
    .header__contacts {
        position: absolute;
        top: 15px;
        left: 120px;
        align-items: stretch;
    }
    .header-menu {
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #1f1f1f;   
        transition: all 0.3s ease 0s;
        padding: 100px 20px 0px 20px;
        overflow:auto;
    }
    .header-menu.active {
        left: 0;
    }
    .header__body {
        height: 50px;
    }
    .menu__list {
        display: block;
    }
    .menu__item:not(:last-child) {
        margin-bottom: 15px;
    } 
    .menu__item {
        height: initial;
    }
    .menu__link {
        height: initial;
        font-size: 30px;
        padding: 15px 0;
    }
    .menu__item {
        border-left: none;
    }
    .menu__item:last-child {
        border-right: none;
    }
}
@media (max-width: 425.98px) {
    .menu__link {
        font-size: 26px;
    }
}
/*-----------------------------------------------*/
.we__body {
    margin-top: 60px;
    min-width: 100vw;
    max-height: 492px;
}
.we__background {
    background: url("../images/we/bg.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 67px 0 10px 0;
}

.slide-swiper-we {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide-swiper-we__title {
    text-align: center;
    max-width: 740px;
    font-size: 78px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slide-swiper-we__title:not(:last-child) {
    margin-bottom: 36px;
}
.slide-swiper-we__text {
    text-align: center;
    font-size: 18px;
    line-height: 111%;
    color: rgba(255, 255, 255, 0.81);
}
.slide-swiper-we__text:not(:last-child) {
    margin-bottom: 50px;
}
.slide-swiper-we__line {
    width: 60px;
    height: 2px;
    background: #FFFFFF;
}
.slide-swiper-we__line:not(:last-child) {
    margin-bottom: 18px;
}
.slide-swiper-we__button {
    border: 2px solid #FFFFFF;
    padding: 10px 17px;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 86px;
    transition: all 0.3s ease 0s;
}
.slide-swiper-we__button:hover {
    border: 2px solid #EEE;
    background: rgba(255, 255, 255, 0.2);
}
.swiper-we__pagination .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 0px;
    transition: all 0.3s ease 0s;
}
.swiper-we__pagination .swiper-pagination-bullet-active {
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    border-radius: 0px;
}
@media (max-width: 767.98px) {
    .we__body {
        margin-top: 50px;
    }
    .we__background {
        padding: 30px 0 10px 0;
    }
    .slide-swiper-we__title {
        max-width: 100%;
        font-size: 60px;
        margin-bottom: 30px;
    }
    .slide-swiper-we__text:not(:last-child) {
        margin-bottom: 30px;
    }
    .slide-swiper-we__text {
        font-size: 16px;
    }
    .slide-swiper-we__button {
        padding: 8px 15px;
        font-size: 14px;
        margin-bottom: 60px;
    }
}
@media (max-width: 425.98px) {
    .slide-swiper-we__title {
        font-size: 50px;
    }
    .slide-swiper-we__title:not(:last-child) {
        margin-bottom: 20px;
    }
}
/*-----------------------------------------------*/
.advantages {
    background-color: #C7AA8B;
}
.advantages__body {
    display: flex;
    column-gap: 33px;
    padding-top: 48px;
    padding-bottom: 73px;
    justify-content: center;
}
.advantages__column {
    flex: 0 1 33.333%;
}
.advantages__item {
    padding: 10px;
    height: 100%;
}
.advantages__item_number {
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: rgba(50, 50, 50, 0.09);
}
.advantages__item_number:not(:last-child) {
    margin-bottom: 1px;
}
.advantages__item_line {
    height: 1px;
    width: 100%;
    background: rgba(50, 50, 50, 0.13);
}
.advantages__item_line:not(:last-child) {
    margin-bottom: 22px;
}
.advantages__title {
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #4D4D4D;
}
.advantages__title:not(:last-child) {
    margin-bottom: 25px;
}
.advantages__item_image {
    text-align: center;
}
.advantages__item_image:not(:last-child) {
    margin-bottom: 35px;
}
.advantages__item_text {
    font-size: 14px;
    line-height: 143%;
    color: #4D4D4D;
}
@media (max-width: 767.98px) {
    .advantages__body {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .advantages__column {
        flex: 1 1 33.333%;
        margin-bottom: 15px;
    }
    .advantages__item {
        padding: 0px;
    }
    .advantages__item_image:not(:last-child) {
        margin-bottom: 25px;
    }
    .advantages__item_text {
        text-align: center;
    }
}
@media (max-width: 425.98px) {
    .advantages__body {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        column-gap: 0;
        row-gap: 25px;
    }
    .advantages__column {
        flex: 1 1 100%;
        margin-bottom: 0;
    }
    .advantages__item_image:not(:last-child) {
        margin-bottom: 20px;
    }
    .advantages__title:not(:last-child) {
        margin-bottom: 15px;
    }
}
/*-----------------------------------------------*/
.phrase__body {
    min-width: 100vw;
    height: 394px;
}
.phrase__background {
    background: url("../images/phrase/image.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 127px 0 132px 0;
}
.phrase__title {
    font-size: 47px;
    line-height: 117%;
    color: #C7AA8B;
}
.phrase__title:not(:last-child) {
    margin-bottom: 23px;
}
.phrase__decor {
    height: 2px;
    background: #C7AA8B;
    max-width: 60px;
}
@media (max-width: 767.98px) {
    .phrase__body {
        height: initial;
        max-height: 394px;
    }
    .phrase__background {
        padding: 70px 0 70px 0;
    }
    .phrase__title {
        font-size: 40px;
        text-align: center;
    }
    .phrase__decor {
        margin: 0 auto;
    }
}
@media (max-width: 425.98px) {
    .phrase__background {
        padding: 50px 0 50px 0;
    }
    .phrase__title {
        font-size: 36px;
    }
}
/*-----------------------------------------------*/
.team__body {
    padding-top: 80px;
    padding-bottom: 91px;
    display: flex;
    justify-content: space-between;
}
.team__column-right {
    flex: 0 1 25%;
}
.team__column-right-title {
    font-size: 30px;
    line-height: 90%;
    text-transform: uppercase;
    color: #4D4D4D;
}
.team__column-left {
    flex: 0 1 75%;
}
.team__column-left-body {
    display: flex;
    column-gap: 20px;
}
.team__column-left-column {
    flex: 0 1 33.333%;
}
.team__column-left-item {
    height: 100%;
}
.team__column-left_image {
    overflow: hidden;
    position: relative;
    padding: 0 0 140.34% 0;
    max-width: 220px;
}
.team__column-left_image:not(:last-child) {
    margin-bottom: 10px;
}
.team__column-left_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.team__column-left_name {
    font-size: 16px;
    line-height: 125%;
    color: #4D4D4D;
}
.team__column-left_position {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #4D4D4D;
}
.team__column-left_position:not(:last-child) {
    margin-bottom: 11px;
}
.team__column-left_contacts {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.team__column-left_contacts a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.team__column-left_contacts a:hover {
    transform: scale(1.3);
}
.team__column-left_contacts-img {
    max-width: 18px;
    max-height: 17px;
}
@media (max-width: 767.98px) {
    .team__body {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        row-gap: 25px;
    }
    .team__column-right {
        flex: 1 1 100%;
        align-self: center;
    }
    .team__column-left {
        flex: 1 1 100%;
    }
    .team__column-left-body {
        column-gap: 10px;
    }
    .team__column-left_contacts {
        column-gap: 7px;
    }
}
@media (max-width: 500px) {
    .team__column-left-body {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 30px;
    }
    .team__column-left-column {
        flex: 0 1 100%;
        width: 70%;
    }
    .team__column-left_image {
        max-width: initial;
    }
    .team__column-left_position:not(:last-child) {
        margin-bottom: 7px;
    }
    .team__column-left_name {
        font-size: 24px;
    }
    .team__column-left_contacts {
        column-gap: 25px;
    }
    .team__column-left_position {
        font-size: 20px;
    }
    .team__column-left_contacts-img {
        width: 24px;
        height: 21px;
        max-width: initial;
        max-height: initial;
    }
}
@media (max-width: 425.98px) {
    .team__column-left-column {
        width: 100%;
    }
    .team__body {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}
/*-----------------------------------------------*/
.testimonials {
    background: #F7F7F7;
}
.testimonials__body {
    padding: 80px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
.testimonials__top_title {
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(50, 50, 50, 0.36);
}
.testimonials__top_title:not(:last-child) {
    margin-bottom: 14px;
}
.testimonials__top_decor {
    margin: 0 auto;
    width: 60px;
    height: 2px;
    background: rgba(50, 50, 50, 0.18);
}
.testimonials__main {
    display: flex;
}
.testimonials__main_column {
    flex: 0 1 50%;
}
.testimonials__main_item {
    height: 100%;
    padding: 21px 31px 24px 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonials__main_item-text {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: #4D4D4D;
}
.testimonials__main_item-text:not(:last-child) {
    margin-bottom: 1px;
}
.testimonials__main_item-author {
    font-size: 13px;
    line-height: 154%;
    text-transform: uppercase;
    color: #C7AA8B;
}
@media (max-width: 850px) {
    .testimonials__body {
        padding: 80px 0;
    }
    .testimonials__main_item {
        padding: 15px 20px;
    }
}
@media (max-width: 767.98px) {
    .testimonials__body {
        padding: 50px 0;
    }
    .testimonials__main {
        flex-direction: column;
        row-gap: 50px;
    }
    .testimonials__main_column {
        flex: 1 1 100%;
    }
    .testimonials__top_title {
        font-size: 20px;
    }
    .testimonials__main_item {
        padding: 0 0;
        justify-content: stretch;
    }
    .testimonials__main_item-text:not(:last-child) {
        margin-bottom: 5px;
    }
    .testimonials__main_item-text {
        font-size: 20px;
    }
    .testimonials__main_item-author {
        font-size: 15px;
    }
}
@media (max-width: 425.98px) {
    .testimonials__body {
        padding: 30px 0;
    }
}
/*-----------------------------------------------*/
.footer {
    background: #323232;
}
.footer__body {
    padding: 57px 0 53px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__right {
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.footer__right_icon {
    max-width: 22.2px;
    max-height: 18.3;
}
.footer__right_icon img {
    height: 100%;
    width: 100%;
}
.footer__right_company {
    font-size: 14px;
    line-height: 143%;
    color: #858585;
}
.footer__button {
    padding: 10px 74px;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #C7AA8B;
    background: rgba(77, 77, 77, 0.2);
    border: 2px solid #C7AA8B;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.footer__button:hover {
    color: #eee;
    background: rgba(77, 77, 77, 0.5);
}
.footer__address {
    font-size: 13px;
    line-height: 154%;
    color: #858585;
}
@media (max-width: 767.98px) {
    .footer__body {
        padding: 50px 0 50px 0;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
    }
    .footer__right_company {
        font-size: 16px;
    }
    .footer__address {
        font-size: 16px;
    }
}
@media (max-width: 425.98px) {
    .footer__body {
        padding: 30px 0 30px 0;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
    }
    .footer__right_company {
        font-size: 17px;
    }
    .footer__address {
        font-size: 17px;
    }
    .footer__button {
        padding: 12px 5px;
        width: 100%;
        font-size: 18px;
    }
}